@import url('https://fonts.googleapis.com/css?family=Roboto:250,300,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body
{
  font-family: 'Roboto', sans-serif;
}

.sidebar 
{
  position: fixed; 
  /* left: -250px; */
  width: 250px;
  height: 100%;
  background: #b295c0;          /*   b295c0      8958a0 */
  transition: all .5s ease;
  text-decoration: none;
}

#headericon
{
  font-size: 40px; 
}

.sidebar header
{
  padding-top: 50px;
  /* font-size: 20px; */
  color: #fdf9f9;
  line-height: 30px;
  text-align: center;
  background: #482e54e3;
  user-select: none;
  border-bottom: 1px solid black;
}

/* .sidebar ul{
  overflow-x: hidden;
  overflow-y: scroll;
  
} */

.sidebar ul a
{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 15px;
  color: rgb(253, 253, 253);
  padding-left: 10px;
  box-sizing: border-box;
  text-decoration: none;
  transition: .4s;
}

.sidebar ul li{
  border-bottom: 1px solid black;
  font-size: 20px;
}
.sidebar header li a
{
  text-decoration: none;
  color:#fdf9f9;
}
.sidebar header li a:hover{
color: red;
}
.sidebar li a:hover 
{
  color:#38114b;
}

.sidebar li
{
  font-size:14px;
}

ul li:hover a{
  padding-left: 40px;
}

.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}

#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}

*{box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow:auto;
}

.header 
{
  position: fixed;
  width : 100%;
  height: 70px;
  overflow: hidden;
  background-color: #8958a0;
  text-align: center;
  padding-top: 1rem;
}

.header a {
  float: none;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px; 
  line-height: 25px;
  border-radius: 4px;
  position: fixed;
}

#logo 
{
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 500px) 
{
  .header a {
    float: none;
    display: block;
    text-align: center;
  }
  
  .header-right {
    float: none;
  }
}

#navbar
{
  width: 75%;
  padding-left: 10rem;
  
  text-align: center;
}

body {background:#ccc}

.box h3
{
  text-align: center;
  position:relative;
  top: 4rem;
}
.box {
  
  border-radius: 25px;
  width:50%;
  height:290px;
  background:#FFF;
  margin :100px auto;
  
  
}
/* Effect 1*/
.effect1
{
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;         
}

#wholebox
{
  padding-left: 210px;
  padding-top: 50px;
  /* top: 50%;
  left: 50%;
  margin: 25px 0 0 -25px; */
}

.footer{
  text-align: center;
  padding-bottom: .6rem;
  color: white; 
}


/*Padding for Profile*/
#align  
{
  padding-top: 50px; 
   
}

/*Padding for Profile*/
#align1 
{
  padding: 30px; 
}

/*Profile icon*/
#headericon1 
{
  font-size: 140px;
  padding-top: 80px; 
  padding-left: 40px;
}

.managepoolbutton
{
  border-radius: 25px;
  width:50%;
  height:160px;
  background:#FFF;
  margin-left :39rem; 
  margin-top: 15rem;
}

#buttonheight 
{
  margin-top: 5.5rem;
}

#alignpool
{
    padding-top: 50px;
}

#aligncreatepool
{
  font-size: 25px ;
  padding-top: 50px; 
  padding-left: 25rem;
}


/*Alignment for Add Dpt*/
#aligndpt  
{
  font-size: 25px ;
  padding-top: 50px; 
  padding-left: 25rem;
}

#aligndpt1
{
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 20px;
}

#DashboardScheduled,#DashboardCancelled{
  padding-left: 15rem;
  margin-top: 20rem;
  margin-left: 20rem;
}

#DashboardScheduled:hover,#DashboardCancelled :hover{
  color: #8958a0;
}
#ScheduledCount,#CancelledCount{
  font-size: 15rem;
}

#ViewPoolFilterCard{
  width: 100%;
  height: 3rem;
  text-align: center;
  margin-top: 2rem;
}
#ViewPoolContainer{
  padding-left: 15rem;
  padding-top: 4rem;
}
#FreshersButton,#SoftwareEngineerButton,#SeniorSoftwareEngineerBuuton,#ProjectLeadButton,#TeamLeadButton,#ManagementButton{
    margin-top: 5rem;
    height: 8rem;
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 20px;
}
#SoftwareEngineerButton,#SeniorSoftwareEngineerBuuton,#TeamLeadButton,#ManagementButton{
    margin-left: 8rem;
}

/* Register page */


